*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: white;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

a,
a:visited {
  text-decoration: none;
  color: #1e1d23;
}

.brand {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  position: sticky;
  padding: 1rem;
  font-size: 3.2rem;
}
.brand .fa-tree {
  padding: 1rem;
  vertical-align: middle;
}

.nav {
  position: sticky;
  justify-content: center;
  text-align: center;
  top: 0;
  height: 8rem;
  background-color: #fafafa;
  z-index: 5;
  border-bottom: 1px solid rgba(30, 29, 35, 0.2);
}
.nav .wrapper {
  display: flex;
}
.nav .burger-icon {
  position: fixed;
  top: 1rem;
  right: 3rem;
  padding: 1rem;
  font-size: 3.6rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #1e1d23;
  transition: transform, color 0.3s;
}
.nav .burger-icon:hover {
  color: rgb(32, 32, 32);
  transform: scale(1.05);
}
.nav .nav-items {
  padding-top: 50px;
  position: fixed;
  top: 8rem;
  height: 100vh;
  width: 100%;
  right: -65rem;
  list-style: none;
  background-color: #1e1d23;
  transition: transform 0.3s;
}
.nav .nav-items__item {
  display: block;
  padding: 25px 10px;
  font-size: 3rem;
  color: #fafafa;
  text-decoration: none;
  transition: font-weight 0.3s;
}
.nav .nav-items__item:hover {
  font-weight: bold;
}
.nav .active {
  transform: translateX(-65rem);
}

.header {
  position: relative;
  background-image: url("../img/forest-path-small.jpg");
  height: 33rem;
  background-size: cover;
  background-position: center;
}
.header .hero-text {
  position: absolute;
  color: #fafafa;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
}
.header .hero-text h1 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.header .hero-text p {
  font-size: 2.8rem;
  font-weight: bold;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.section-title {
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
}

.main .about-us .about-us__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.main .about-us .about-us__container--text h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}
.main .about-us .about-us__container--text p {
  line-height: 1.6em;
}
.main .about-us .about-us__container--img {
  background-image: url("../img/lake-small.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 100%;
}

.hero-img {
  position: relative;
  background-image: url("../img/girl-forest-small.jpg");
  height: 23rem;
  background-size: cover;
  background-position: center;
  margin: 6rem 0;
}
.hero-img .hero-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-img .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-img .hero-text h3 {
  color: #fafafa;
  text-align: center;
  font-size: 2rem;
  border: solid 1px;
  padding: 3rem 8rem;
}

.offers {
  text-align: center;
}
.offers p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 4rem 2rem;
}
.offers .offers-proposition {
  padding-top: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
.offers .offers__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.offers .offers__cards .offers__card {
  width: 100%;
  border-radius: 0.8rem;
  margin: 2rem;
  box-shadow: 1px 0 7px #7e8891;
}
.offers .offers__cards .offers__card .card-name {
  font-size: 2.2rem;
  margin-top: 1rem;
  padding: 1rem;
}
.offers .offers__cards .offers__card .card-price {
  font-size: 3rem;
  font-weight: bold;
}
.offers .offers__cards .offers__card ul {
  margin: 2rem 0;
}
.offers .offers__cards .offers__card ul .minus {
  color: #7e8891;
}
.offers .offers__cards .offers__card ul li {
  list-style: none;
  font-size: 1.8rem;
  line-height: 3.5rem;
}
.offers .offers__cards .offers__card ul li img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}
.offers .offers__cards .offers__card .offers__button {
  font-size: 1.6rem;
  padding: 1rem 4rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  background: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 6px #7e8891;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.15s;
}
.offers .offers__cards .offers__card .offers__button:hover {
  background-color: rgba(126, 136, 145, 0.1);
  transform: scale(1.1);
}
.offers .offers__cards .offers__card .offers__button--highlight {
  background-color: #79e793;
}
.offers .offers__cards .offers__card .offers__button--highlight:hover {
  background-color: #6dcd83;
}
.offers .more-offers {
  margin-bottom: 5rem;
}
.offers .more-offers a {
  color: #79e793;
  font-weight: bold;
}
.offers .more-offers a:hover {
  color: #6dcd83;
}

.contact .contact__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact .contact__info-container .contact__info {
  margin: 3rem;
  text-align: center;
}
.contact .contact__info-container .contact__info img {
  padding: 1rem;
  transition: transform 0.3s;
}
.contact .contact__info-container .contact__info img:hover {
  transform: scale(0.9);
}
.contact .contact__map,
.contact .contact__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact .contact__map h2,
.contact .contact__form-container h2 {
  margin-top: 4rem;
  font-size: 2rem;
}
.contact .contact__map h4,
.contact .contact__form-container h4 {
  margin-top: 3rem;
}
.contact .contact__map .google-map,
.contact .contact__form-container .google-map {
  margin: 2rem 1rem 6rem;
}
.contact .contact__map .contact__form,
.contact .contact__form-container .contact__form {
  margin: 2rem;
}
.contact .contact__map .contact__form .contact__form-box,
.contact .contact__form-container .contact__form .contact__form-box {
  margin: 1rem 0;
}
.contact .contact__map .contact__form .contact__form-box label,
.contact .contact__form-container .contact__form .contact__form-box label {
  display: block;
  margin-top: 0;
  font-size: 1.8rem;
  text-align: start;
}
.contact .contact__map .contact__form .contact__form-box input,
.contact .contact__map .contact__form .contact__form-box textarea,
.contact .contact__form-container .contact__form .contact__form-box input,
.contact .contact__form-container .contact__form .contact__form-box textarea {
  padding: 1.2rem 2rem;
  margin: 1.2rem 0;
  width: 100%;
  outline: none;
  border: 1px solid #1e1d23;
  border-radius: 8px;
  box-shadow: 0 2px 5px #7e8891;
  font-size: 1.6rem;
}
.contact .contact__map .contact__form .contact__form-box textarea,
.contact .contact__form-container .contact__form .contact__form-box textarea {
  max-width: 30rem;
  min-width: 30rem;
}
.contact .contact__map .contact__form-btn,
.contact .contact__form-container .contact__form-btn {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 6rem;
  font-size: 1.6rem;
  border-radius: 8px;
  background: none;
  border: none;
  box-shadow: 0 2px 6px #7e8891;
  outline: none;
  background-color: #79e793;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact .contact__map .contact__form-btn:hover,
.contact .contact__form-container .contact__form-btn:hover {
  background-color: #6dcd83;
}

.footer {
  background-color: #fafafa;
  border-top: 1px solid rgba(30, 29, 35, 0.2);
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.footer .footer-nav .brand-footer {
  padding: 1rem;
  margin: 0 auto;
}
.footer .footer-nav .footer-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}
.footer .footer-nav .footer-items__item {
  margin: 1rem;
}
.footer .footer-nav .footer-items__item h4 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.footer .footer-nav .footer-items__item ul {
  list-style: none;
}
.footer .footer-nav .footer-items__item ul li {
  padding: 0.3rem 0;
}
.footer .footer-signature {
  border-top: 1px solid rgba(30, 29, 35, 0.2);
  font-size: 1.2rem;
  text-align: center;
  padding: 3rem;
}
.footer .footer-signature .footer-text {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  .nav .wrapper .nav-items {
    width: 35rem;
    right: -35rem;
  }
  .nav .wrapper .active {
    transform: translateX(-35rem);
  }
  .offers .offers__cards .offers__card {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .header {
    background-image: url("../img/forest-path-big.jpg");
  }
  .header .hero-text h1 {
    font-size: 2rem;
  }
  .header .hero-text p {
    font-size: 3.2rem;
  }
  .main .about-us .about-us__container--img {
    background-image: url("../img/lake-big.jpg");
  }
  .hero-img {
    background-image: url("../img/girl-forest-big.jpg");
  }
  .hero-img .hero-text h3 {
    font-size: 2.6rem;
    padding: 3rem 6rem;
  }
  .hero-img .hero-text h3 img {
    height: 2.2rem;
    width: 2rem;
  }
  .offers .offers__cards .offers__card {
    width: 50%;
  }
  .offers .offers__cards .offers__card ul li {
    font-size: 2rem;
  }
  .contact .contact__info-container {
    flex-direction: row;
  }
  .contact .contact__info-container .contact__info {
    margin: 5rem;
  }
  .contact .contact__map iframe {
    width: 50rem;
  }
  .contact .contact__form-container .contact__form {
    width: 50rem;
  }
  .contact .contact__form-container .contact__form .contact__form-box textarea {
    max-width: 50rem;
    min-width: 50rem;
  }
  .footer .footer-nav {
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
  }
  .footer .footer-nav .brand-footer {
    margin: 0 1rem;
  }
  .footer .footer-nav .footer-items {
    flex-direction: row;
    text-align: left;
  }
  .footer .footer-nav .footer-items__item {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .nav .wrapper .burger-icon {
    display: none;
  }
  .nav .wrapper .nav-items {
    position: relative;
    background: none;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav .wrapper .nav-items__item {
    height: 8rem;
    font-size: 2rem;
    color: #1e1d23;
    padding: 0 40px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  .nav .wrapper .nav-items .nav-items__item:hover {
    font-weight: normal;
    color: #fafafa;
    background-color: #1e1d23;
  }
  .nav .wrapper .nav-items .nav-active {
    color: #fafafa;
    background-color: #1e1d23;
  }
  .header .hero-text h1 {
    font-size: 2.2rem;
  }
  .header .hero-text p {
    font-size: 3.4rem;
  }
  .main .about-us .about-us__container {
    flex-direction: row;
  }
  .main .about-us .about-us__container--text {
    padding: 0 3rem;
  }
  .main .about-us .about-us__container--text h3 {
    padding-top: 0;
    font-size: 2.4rem;
  }
  .main .about-us .about-us__container--text p {
    line-height: 2em;
  }
  .main .about-us .about-us__container--img {
    height: 32rem;
    width: 200%;
  }
  .offers .offers__cards {
    flex-direction: row;
    align-content: space-between;
  }
  .offers .offers__cards .offers__card {
    width: 100%;
    margin: 2rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact .contact__info-container {
    min-width: 100%;
  }
  .contact .contact__map,
  .contact .contact__form-container {
    min-width: 50%;
    margin-top: 4rem;
  }
  .contact .contact__map iframe {
    height: 56rem;
    width: 45rem;
  }
  .contact .contact__form-container .contact__form {
    width: 40rem;
  }
  .contact .contact__form-container .contact__form .contact__form-box textarea {
    max-width: 40rem;
    min-width: 40rem;
  }
}
@media (min-width: 1200px) {
  .nav-items__item {
    font-size: 2.8rem;
  }
  .hero-img .hero-text h3 {
    font-size: 2.8rem;
    padding: 4rem 8rem;
  }
}/*# sourceMappingURL=main.css.map */